
<div class='panel-body'>
  <div class='row'>
    <div class='col-md-1'>
    </div>
    <div class='col-md-2'>
      <table class="table table-hover">
        <tbody>
          <tr>
            <td><button ng-click="soclogin()"><%= image_tag("connect.png", width: '100%', height: '75') %></button></td>
          </tr>
          <tr>
            <td><%= image_tag("fb.png", width: '100%', height: '75') %></td>
          </tr>
          <tr>
            <td><%= image_tag("twitter.jpg", width: '100%', height: '75') %></td>
          </tr>
          <tr>
            <td><%= image_tag("linkedin.png", width: '100%', height: '75') %></td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class='col-md-1'>
    </div>
    <div class='col-md-5'>
      <div class='row'>
      	<div class='col-md-4'>
      		<%= image_tag("fb.png", width: '100%', height: '75') %>
      		<h4> <a ng-href= "{{fb_login_url}}"> CONNECT </a> </h4>
      		<h4> <a ng-href= "{{fb_logout_url}}"> DISCONNECT </a> </h4>
      	</div>
      	<div class='col-md-4'>
          <%= image_tag("twitter.jpg", width: '100%', height: '75') %>
      		<h4> <a ng-href= "{{twitter_login_url}}"> CONNECT </a> </h4>
      		<h4> <a ng-href= "{{twitter_logout_url}}"> DISCONNECT </a> </h4>
      	</div>
      	<div class='col-md-4'>
          <%= image_tag("linkedin.png", width: '100%', height: '75') %>
      		<h4> <a ng-href= "{{linkedin_login_url}}"> CONNECT </a> </h4>
      		<h4> <a ng-href= "{{linkedin_logout_url}}"> DISCONNECT </a> </h4>
      	</div>
      </div>
    </div>
    <div class='col-md-3'>
      
    </div>
  </div>
</div>


